{{ 'custom-what-makes-it-special.css' | asset_url | stylesheet_tag }}
<div
  class="dc_special-features-box"
  style="background-color:{{ block.settings.special_feature_bg_color }}; border-color:{{ block.settings.special_feature_border_color  }};"
>
  <p class="dc_special-features-box__heading" style="color:{{ block.settings.special_feature_text_color }};">
    {{ block.settings.special_feature_text_heading }}
  </p>
  <div class="dc_special-features-box__features-container">
    {% for i in (1..10) %}
      {% assign text_key = 'special_feature_text_' | append: i %}
      {% if block.settings.icon and block.settings[text_key] != blank %}
        <div class="dc_special-features-box__feature">
          <img
            class="dc_special-features-box__icon"
            src="{{  block.settings.icon | image_url }}"
            width="{{ image.width }}"
            height="{{ image.height }}"
          >
          <p class="dc_special-features-box__text" style="color:{{ block.settings.special_feature_text_color }};">
            {{ block.settings[text_key] }}
          </p>
        </div>
      {% endif %}
    {% endfor %}
  </div>
</div>
