{{ 'custom-reviews-grid.css' | asset_url | stylesheet_tag }}

<section class="dc_reviews-section" style="background-color:lightgray;">
  <h2>
    <span class="dc_review-stars">★★★★★</span><br>
    Over 2,000,000 Happy Customers
  </h2>

  <div class="dc_review_mansory">
    {% for block in section.blocks %}
      {% case block.type %}
        {% when 'review' %}
          <div class="dc_review_card">
            <div class="dc_review_inner-card">
              <div class="dc_review-header">
                <span class="dc_review-stars">{{ block.settings.stars }}</span>
                <span class="dc_review-date">{{ block.settings.date }}</span>
              </div>

              {% if block.settings.review != blank %}
                <p>{{ block.settings.review }}</p>
              {% endif %}

              <div class="dc_review-buyer">
                <strong>{{ block.settings.buyer_name }}</strong><br>
                {% if block.settings.verified %}
                  <span class="dc_review-verified-badge">✔ Verified Buyer</span>
                {% endif %}
              </div>
            </div>

            {% if block.settings.image %}
              <img src="{{ block.settings.image | image_url }}" alt="">
            {% endif %}
          </div>

        {% when 'image_only' %}
          <div class="dc_review_card">
            {% if block.settings.image %}
              <img src="{{ block.settings.image | image_url }}" alt="">
            {% endif %}
          </div>
      {% endcase %}
    {% endfor %}
  </div>
</section>

{% schema %}
{
  "name": "🔥Custom Masonry Reviews",
  "tag": "section",
  "class": "masonry-reviews-section",
  "settings": [],
  "blocks": [
    {
      "type": "review",
      "name": "Review Card",
      "settings": [
        {
          "type": "text",
          "id": "stars",
          "label": "Stars",
          "default": "★★★★★"
        },
        {
          "type": "text",
          "id": "date",
          "label": "Review Date",
          "default": "07/11/2025"
        },
        {
          "type": "textarea",
          "id": "review",
          "label": "Review Text"
        },
        {
          "type": "text",
          "id": "buyer_name",
          "label": "Buyer Name",
          "default": "John Doe"
        },
        {
          "type": "checkbox",
          "id": "verified",
          "label": "Verified Badge",
          "default": true
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Optional Review Image"
        }
      ]
    },
    {
      "type": "image_only",
      "name": "Image Only",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "🔥 Masonry Reviews",
      "blocks": [{ "type": "review" }, { "type": "image_only" }]
    }
  ]
}
{% endschema %}
